
@{
    ViewBag.Title = "Dashboard";
}




<section id="chartResult"></section>



@section scripts {

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="~/Scripts/react/react-0.12.2.min.js"></script>

    <script src="~/Scripts/jsx/piechart.jsx"></script>
    <script src="~/Scripts/jsx/dashboard.jsx"></script>

}